html{
    background-color: bisque;
    text-align: center;
}

a{
    background-color: rgb(207, 140, 40);
    align-items: center;
    display: block;
    text-decoration: none;
    color: white;
    width: 20%;
}

main{
    align-items: center;
    background-color: rgb(197, 197, 128);
    border: 2px black;
    padding: 1%;
    display: flex;
}

input{
    color: grey;
    background-color: bisque;
    width: 50%;
    padding: 1%;
}

button{
    cursor: pointer;
}


main>div{
    flex-direction: column;
    width: 50%;
    background-color: rgb(197, 197, 128);
    align-items: center;
    text-align: center;
}

#search-bar{
    width: 60%;
    margin: 1%;
}

.box{
    width: 5%;
}