html{
    background-color: bisque;
    text-align: center;
}

a{
    background-color: rgb(207, 140, 40);
    text-align: center;
    display: block;
}

main{
    text-align: center;
    background-color: rgb(197, 197, 128);
    border: 2px black;
    padding: 1%;
}

input{
    color: grey;
    background-color: bisque;
    width: 60%;
    padding: 1%;
}

button{
    cursor: pointer;
}

button #haut{
    position: fixed;
    background-color: bisque;
    right: 0px;
    top: 0px;
}

button #bas{
    position: fixed;
    background-color: bisque;
    right: 0px;
    top: 0px;
}

button #plus{
    position: fixed;
    background-color: bisque;
    right: 0px;
    top: 0px;
}

main div{
    flex-direction: column;
    width: 25%;
    border-radius: 25%;
}